/* Configurações gerais */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-global);
}
/*Variaveis , para configuração das cores */
:root {
    --font-global: "Helvetica" , "Lucida Grande", Sans-serif; 
    --titulo-cor: #3D3D3D; 
    --titulo-fundo: #E1EDF2;
}

main {
    width: 80%;
    max-width: 940px;
    margin: auto;
    padding: 10px;
    color: var(--titulo-cor);
    font-family: "Helvetica", "Lucida Grande", sans-serif ;
}
.titulo {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--titulo-fundo);
    font-size: 32px;
}


.subtitulo {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

p {
    padding: 10px;
    
}
/* Configurações das imagens */

figure {
    max-width: 100%;
    box-sizing: border-box;
    margin: 15px;   
    padding: 15px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    text-align: center;
    color: #000;
    font-weight: normal;
    font-style: italic;
    font-size: 1.1em;
    
}

figcaption {
    padding: 10px;
}

.matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia-tuplen {
    width: 275px;
    float: right;
}

figure img {
    width: 100%;
}

/* Fim configuração da imagens */

/*Configurações de contatos */
.contato_subtitulo {
    display: inline-block;
}

.contato {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato--telefone {
    margin-left: 32px;
}

.contato_info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato_info-titulo,
.contato_info-descricao {
    display: inline;
}

.contato_info-descrocao {
    margin-left: 10px;
}

/* configurações Rodape */

.rodape {
    padding: 1.75em 0; /* pega a configuração com base no elemento pai */
 
    font-size: 1.1rem; /*pega a configuração com base no html*/
}

.rodape_logo {
    width: 6em;
}

.rodape_copyright {
    display: inline;
    margin-left: 1em;
}

/* configurações para funcionar com responsividade */

/* tela de 850px de largura */
@media (max-width: 850px) {
    .contato {
        display: block;
        margin-left: 1em;
    }
}

/* Configuração imagem familia para telas de 622px */
@media (max-width: 650px) {
    .familia-tuplen {
        float: none;
        margin: 0 auto;
    }
}

/*Configuração subtitulo contatos para telas com 446px */
@media (max-width: 446px) {
    .contato_subtitulo {
        display: block;
        margin-bottom: 0;
    }

    .contato_info {

        padding-left: 5px;
        font-size: 92em;
        border-left:  2px solid lightgray;
    }

    .rodape {
        font-size: .92em;
    }
}

/* Configurações para tela de 342px */
@media (max-width: 342px) {
    .contato_info-descrição {
        display: block;
        margin-left: 1em; 
    } 
}


















































































